body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.viewer-container {
  width: 100%;
  height: 100%;
  background-color: red;
}
.item-grid {
  background-color: green;
  width: 100%;
  height: 100%;
}

.item {
  background-color: blue;
}
